{% extends "base.html" %}
{% load static %}
{% block content %}

<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Navigation -->
    {% include "layoutlp/navbar.html" %}
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="ex-2-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Log In</h1>
                    <p>Jika akun anda bermasalah silahkan hubungi  &nbsp; <a class="white" href="https://ict.usk.ac.id/">HELPDESK USK</a></p> 
                    <!-- Sign Up Form -->
                    <div class="form-container">
                        <form    method="POST" action="{% url 'masuk' %}">
                            <div class="form-group">
                                {% csrf_token %}
                                <input type="text" class="form-control-input" id="nip" name="nip" >
                                <label class="label-control" for="nip">NIP</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="lpassword" name="lpassword" >
                                <label class="label-control" for="lpassword">Password</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">LOG IN</button>
                            </div>
                            <div class="form-message">
                                <div id="lmsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                    </div> <!-- end of form container -->
                    <!-- end of sign up form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
    

</body>
{% endblock content %}